---
const { author } = Astro.props;
const { nombre, programa, modalidad, imagen }:
{nombre:string, programa:string, modalidad:string, imagen:string} = author;
---
<div class="flex flex-col items-center justify-center w-full h-full p-4 bg-[#1B4583] text-amber-50 gap-y-6">
    <img src=`/softlab-web//img/${imagen}` alt=`Imagen del autor` class="w-24 h-24 aspect-square rounded-full mb-4" loading="lazy"/>
    <p>{nombre}</p>
    <p>Programa</p>
    <p>{programa}</p>
    <p>Modalidad de grado</p>
    <p>{modalidad}</p>
</div>