---
import CtaCard from "./CtaCard.astro";
---

<section id="cta" class="flex flex-col justify-evenly h-full bg-[#1B4583] items-center py-12 text-amber-50 gap-9 min-w-full">
    <h1 class="font-bold text-5xl text-center">¡Forma parte de SoftLab!</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 align-middle w-[80%] text-amber-50 text-center gap-6 place-items-center ">
        <CtaCard logo="./check_logo.svg" titulo="ESTUDIA E IMPACATA" contenido="Resuelve problemáticas reales."/>
        <CtaCard logo="./project_logo.svg" titulo="PROYECTOS UNICOS" contenido="Impulsa tus proyectos de grado."/>
        <CtaCard logo="./clock_logo.svg" titulo="PROYECTA AL FUTURO" contenido="Comparte tus ideas y destaca en el mundo."/>
    </div>
    <a href="https://www.uniautonoma.edu.co/" target="_blank" class="bg-[#FFA600] rounded-2xl h-16 w-80 flex justify-center items-center 
   text-center text-2xl transition-all duration-300 ease-in-out 
   hover:brightness-105 hover:scale-105 hover:shadow-lg 
   cursor-pointer active:scale-100 active:duration-75">
  Conoce más
</a>
</section>

<footer class="w-full flex flex-col items-center justify-between">
    <div class="text-[#1B4583] w-full items-center flex justify-evenly py-5 shadow">
        <h1 class="font-bold text-5xl">CONTACTO</h1>
    </div>
    <div class="text-[#1B4583] flex gap-5 py-5 w-full justify-evenly px-5 items-center align-middle">
        <img class="h-16 w-auto" src="./uni_logo_azul.png" alt="Logo universidad">
        <div class="flex flex-col align-middle text-center w-fit h-full justify-evenly gap-2">
            <h3 class="font-semibold">Ubicación</h3>
            <p>Calle 5 No. 3-85 Popayán, Colombia</p>
            <div class="flex justify-evenly">
                <a href="https://www.instagram.com/uniautonomadelcauca/" target="_blank">
                    <img src="./ig_logo.svg" alt="Instagram" class="h-10 w-auto cursor-pointer transition-transform duration-300 hover:scale-105" />
                </a>
                <a href="https://api.whatsapp.com/send/?phone=%2B573206750464&text&type=phone_number&app_absent=0" target="_blank">
                    <img src="./wts_logo.svg" alt="WhatApp" class="h-10 w-auto cursor-pointer transition-transform duration-300 hover:scale-105" />
                </a>
                <a href="https://www.linkedin.com/school/corporaci%C3%B3n-universitaria-aut%C3%B3noma-del-cauca/" target="_blank">
                    <img src="./lk_logo.svg" alt="LinkedIn" class="h-10 w-auto cursor-pointer transition-transform duration-300 hover:scale-105" />
                </a>
            </div>
        </div>
        <div class="flex flex-col text-center gap-2">
            <h3 class="font-semibold">Enlaces de interés</h3>
            <a href="https://www.uniautonoma.edu.co/institucion/directorio/contactanos" target="_blank" class="transition transform duration-300 hover:scale-105">Directorio telefónico</a>
            <a href="https://www.uniautonoma.edu.co/universidad/sedes" target="_blank" class="transition transform duration-300 hover:scale-105">Información de sedes</a>
        </div>
        <img class="h-16 w-auto align-middle" src="./softlab_logo.png" alt="Logo softlab">
    </div>
</footer>