---
import CtaCard from "./CtaCard.astro";
---

<section id="cta" class="flex flex-col justify-evenly h-full bg-[#1B4583] items-center py-12 px-5 text-amber-50 gap-9 min-w-full">
    <h1 class="font-bold text-5xl text-center">¡Forma parte de SoftLab!</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 align-middle w-[80%] text-amber-50 text-center gap-6 place-items-center ">
        <CtaCard logo="./check_logo.svg" titulo="ESTUDIA E IMPACATA" contenido="Resuelve problemáticas reales."/>
        <CtaCard logo="./project_logo.svg" titulo="PROYECTOS UNICOS" contenido="Impulsa tus proyectos de grado."/>
        <CtaCard logo="./clock_logo.svg" titulo="PROYECTA AL FUTURO" contenido="Comparte tus ideas y destaca en el mundo."/>
    </div>
    <a href="https://www.uniautonoma.edu.co/" target="_blank" class="bg-[#FFA600] rounded-2xl h-16 w-80 flex justify-center items-center 
   text-center text-2xl transition-all duration-300 ease-in-out 
   hover:brightness-105 hover:scale-105 hover:shadow-lg 
   cursor-pointer active:scale-100 active:duration-75">
  Conoce más
</a>
</section>

