---
import { Picture } from "astro:assets";
import logoUniversidad from "./../assets/base/uni_logo_azul.png";
import logoSoftlab from "./../assets/base/softlab_logo.png";
---

<footer class="w-full flex flex-col items-center justify-between">
    <div class="text-[#1B4583] w-full items-center flex justify-evenly py-5 shadow">
        <h1 class="font-bold text-4xl md:text-5xl">CONTACTO</h1>
    </div>
    <div class="text-[#1B4583] flex flex-col md:flex-row gap-5 py-5 w-full justify-evenly items-center align-middle">
        <div class="flex gap-5 md:gap-0">
            <Picture class="h-16 w-auto align-middle" src={logoUniversidad} alt="Logo universidad">
            <Picture class="h-16 w-auto align-middle md:hidden" src={logoSoftlab} alt="Logo softlab">
        </div>
        
        <div class="flex flex-col align-middle text-center w-fit h-full justify-evenly gap-2">
            <h3 class="font-semibold">Ubicación</h3>
            <p>Calle 5 No. 3-85 Popayán, Colombia</p>
            <div class="grid grid-cols-3 place-items-center">
                <a href="https://www.instagram.com/uniautonomadelcauca/" target="_blank">
                    <img src="/softlab-web//logos/ig_logo.svg" alt="Instagram" class="h-10 w-auto cursor-pointer transition-transform duration-300 hover:scale-105" />
                </a>
                <a href="https://api.whatsapp.com/send/?phone=%2B573206750464&text&type=phone_number&app_absent=0" target="_blank">
                    <img src="/softlab-web//logos/wts_logo.svg" alt="WhatApp" class="h-10 w-auto cursor-pointer transition-transform duration-300 hover:scale-105" />
                </a>
                <a href="https://www.linkedin.com/school/corporaci%C3%B3n-universitaria-aut%C3%B3noma-del-cauca/" target="_blank">
                    <img src="/softlab-web//logos/lk_logo.svg" alt="LinkedIn" class="h-10 w-auto cursor-pointer transition-transform duration-300 hover:scale-105" />
                </a>
            </div>
        </div>
        <div class="flex flex-col text-center gap-2">
            <h3 class="font-semibold">Enlaces de interés</h3>
            <a href="https://www.uniautonoma.edu.co/institucion/directorio/contactanos" target="_blank" class="transition transform duration-300 hover:scale-105">Directorio telefónico</a>
            <a href="https://www.uniautonoma.edu.co/universidad/sedes" target="_blank" class="transition transform duration-300 hover:scale-105">Información de sedes</a>
        </div>
        <div class="hidden md:flex">
            <Picture class="h-16 w-auto align-middle" formats={['webp']} src={logoSoftlab} alt="Logo softlab"/>
        </div>
    </div>
</footer>