---
import '../styles/global.css'
---
<header class="min-w-3/5 h-18 flex justify-center align-middle shadow ">
	<nav class="w-full flex justify-evenly items-center bg-gradient-to-r from-[#1B4583]/60 to-[#060F1D]/70 p-6 rounded-2xl text-amber-50">
			<img src="/logo_uniautonoma.png" alt="Logo universidad" class="h-16 w-auto" />
			<a href="#inicio" class="text-amber-50 font-semibold transition transform duration-300 hover:scale-110">Inicio</a>
            <a href="#proyectos" class="text-amber-50 font-semibold transition transform duration-300 hover:scale-110">Proyectos</a>
            <a href="#cta" class="text-amber-50 font-semibold transition transform duration-300 hover:scale-110">Contacto</a>
			<img src="/softlab_logo.png" alt="Logo SoftLab" class="h-15 w-auto" />
	</nav>
</header>