---
import Header from "./Header.astro"
import HeroCard from "./HeroCard.astro"
---
<section class="w-screen h-screen bg-cover bg-center relative" style="background-image: url('/elab.jpg')">
    <div class="absolute inset-0 bg-blue-900/60 z-0 flex flex-col items-center justify-evenly ">
        <Header />
        <div class="flex-col justify-center align-middle w-4/5 text-amber-50 text-center gap-6">
            <h1 class="font-extrabold text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl">
                Fábrica de Software
              </h1>
              
              <h3 class="font-light text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-3xl">
                Nos dedicamos a desarrollar sistemas informáticos para negocios, automatizando sus procesos.
              </h3>
            <div class="flex flex-row gap-2.5 justify-center mt-4">
                <HeroCard logo="/dev_logo.svg" titulo="SOFTLAB" contenido="Donde las ideas se transforman en aprendizaje e innovación."/>
                <HeroCard logo="/rocket_logo.svg" titulo="TALENTO" contenido="Impulsamos el talento universitario en desarrollo, innovación y tecnología."/>
                <HeroCard logo="/accion_logo.svg" titulo="ACCION" contenido="Cada proyecto es evidencia del aprendizaje real en el aula."/>
                <HeroCard logo="/comunidad_logo.svg" titulo="COMUNIDAD" contenido="Docentes, egresados y estudiantes compartiendo ideas y soluciones."/>
            </div>
        </div>
    </div>
</section>
