---
const { logo = "Default", titulo = "Default", contenido = "Default" } = Astro.props;
---

<div class="flex flex-col w-2xs h-auto  bg-[#0074BD] rounded-b-2xl p-5 text-white shadow-lg sm:text-lg md:text-lg lg:text-xl xl:text-2xl">
  <h3 class="font-light text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl">
  <img src={logo} alt="Logo" class="h-14 w-auto mx-auto mb-4" />
  
  <h3 class="font-semibold text-center mb-2 text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl">
    {titulo}
  </h3>
  
  <p class="text-center">
    {contenido}
  </p>
</div>
