---
import '../styles/global.css'
---
<header class="relative min-w-[80%] md:min-w-[60%] h-18 flex align-middle shadow mt-5 md:px-20 rounded-t-2xl md:rounded-2xl bg-gradient-to-r from-[#1B4583]/60 to-[#060F1D]/70"> 
	<nav class="flex flex-row justify-evenly items-center w-full mx-auto relative">
	  
	  <!-- Logo Universidad -->
		<img src="/softlab-web/img/logo_uniautonoma.png" alt="Logo universidad" class="h-16 w-auto" />
  
	  <!-- Menú de Navegación -->
	  <div id="nav-links" 
		class="w-full absolute md:static md:min-h-fit min-h-fit left-1/2 transform -translate-x-1/2 md:translate-x-0 md:left-auto md:top-auto flex flex-col md:flex-row justify-center items-center gap-8 rounded-b-xl p-4 opacity-0 md:opacity-100 scale-95 pointer-events-none md:pointer-events-auto transition-all ease-in-out">
		<ul class="flex flex-col md:flex-row md:items-center md:gap-[4vw] gap-6 text-center">
		  <li><a href="/softlab-web/#inicio" class="text-amber-50 font-semibold transition transform duration-300 hover:scale-110">Inicio</a></li>
		  <li><a href="/softlab-web/#proyectos" class="text-amber-50 font-semibold transition transform duration-300 hover:scale-110">Proyectos</a></li>
		  <li><a href="/softlab-web/#cta" class="text-amber-50 font-semibold transition transform duration-300 hover:scale-110">Contacto</a></li>
		</ul>
	  </div>
  
	  <!-- Botón de Menú (Hamburguesa) -->
	  <div class="flex items-center gap-4">
		<ion-icon id="menu-button" name="menu-outline" class="text-3xl cursor-pointer md:hidden text-amber-50"></ion-icon>
	  </div>
	<img src="/softlab-web//img/softlab_logo.png" alt="Logo SoftLab" class="h-16 w-auto" />
  
	</nav>
  </header>
  
  <script>
	const menuButton = document.getElementById('menu-button');
	const navLinks = document.getElementById('nav-links');
  
	let isOpen = false;
  
	menuButton?.addEventListener('click', () => {
	  isOpen = !isOpen;
  
	  if (isOpen) {
		menuButton.setAttribute('name', 'close-outline');
		navLinks?.classList.remove('opacity-0', 'scale-95', 'pointer-events-none');
		navLinks?.classList.add('top-full', 'opacity-100', 'scale-100', 'pointer-events-auto', 'bg-gradient-to-r', 'from-[#1B4583]/60', 'to-[#060F1D]/70');
	  } else {
		menuButton.setAttribute('name', 'menu-outline');
		navLinks?.classList.remove('top-[100%]', 'opacity-100', 'scale-100', 'pointer-events-auto','bg-gradient-to-r', 'from-[#1B4583]/60', 'to-[#060F1D]/70');
		navLinks?.classList.add('opacity-0', 'scale-95', 'pointer-events-none');
	  }
	});
  </script>