---
const {
  autores = [],
  img_producto = "producto.jpg",
  nombre_producto = "Nombre del Producto",
  descripcion = "Descripción no disponible.",
  fecha = "0000-00-00",
  slug = "#",
  tecnologias = [],
}: {
    autores?: {
    img_autor?: string;
    autor?: string;
    programa?: string;
    modalidad?: string;
    social?: [string, string][];
  }[];
  img_producto?: string;
  nombre_producto?: string;
  descripcion?: string;
  fecha?:string;
  slug?: string;
  tecnologias?: string[];
} = Astro.props;
---

<a href={`/producto/${slug}`} class="w-full  min-h-[600px] shadow-xl  flex flex-col justify-evenly gap-3 p-8 transition-all duration-300 ease-in-out 
     hover:scale-105 hover:shadow-2xl 
    cursor-pointer active:scale-100 active:duration-75 rounded-xl">
    <img src={`/public/${img_producto}`} alt="Imagen del producto" class="w-full h-48 object-cover rounded-xl mb-4" loading="lazy"/>
    <p class="text-amber-400 font-bold truncate">
        {autores.map(autor => autor.autor).join(', ')}
    </p>
    <h3 class="font-bold">{nombre_producto}</h3>
    <p>{descripcion}.</p>

</a>


