---
import ProjectCard from "./ProjectCard.astro";
---
<section class="w-screen h-fit flex flex-col items-center justify-between">
    <header class="w-full h-fit px-8 md:px-28 py-8 bg-[#1B4583] flex flex-col text-amber-50 gap-y-2.5 justify-center items-start">
        <h1 class="text-5xl font-bold">Proyectos destacados.</h1>
        <p class="text-2xl font-light">Cada proyecto es el resultado del esfuerzo de estudiantes que hicieron del software un camino para graduarse y dejar huella.</p>
    </header>
        <div class="w-full h-fit flex justify-center">
            <ProjectCard imagen="/img_ejemplo.jpg" autor="Nombre del autor" titulo="Nombre del proyecto" contenido="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos, amet tempore quia vitae neque non molestias hic. Consectetur, veritatis sit? Laborum quis adipisci nesciunt porro, mollitia repudiandae exercitationem temporibus voluptatibus."/>
            <ProjectCard imagen="/img_ejemplo.jpg" autor="Nombre del autor" titulo="Nombre del proyecto" contenido="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos, amet tempore quia vitae neque non molestias hic. Consectetur, veritatis sit? Laborum quis adipisci nesciunt porro, mollitia repudiandae exercitationem temporibus voluptatibus."/>
            <ProjectCard imagen="/img_ejemplo.jpg" autor="Nombre del autor" titulo="Nombre del proyecto" contenido="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos, amet tempore quia vitae neque non molestias hic. Consectetur, veritatis sit? Laborum quis adipisci nesciunt porro, mollitia repudiandae exercitationem temporibus voluptatibus."/>
        </div>
    
    <footer class="flex flex-col w-screen mb-3 text-center px-20">
        <img class="h-14 w-auto mx-auto" src="/medal_logo.svg" alt="Logo medalla">
        <p class="text-2xl font-light">Estos proyectos son evidencia del compromiso, la creatividad y el talento de nuestros estudiantes en su proceso de formación profesional.</p>
    </footer>
</section>